# ignore everything

*

# unignore specific things
!.gitignore
!LICENSE
!README.md
!serverpack
!serverpack/**
!serverpack/*.js
!serverpack/*.txt
!serverpack/*.json
!devicepack
!devicepack/*
!pyapp/
!pyapp/*.py
!node_modules
!node_modules/*.*
